@model IEnumerable<Library.Models.Book>
@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

<div>
    <form asp-controller="Book" asp-action="Books">
        <p>
            Title: <input type="text" name="name" placeholder="Search title" size="45">
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>

<div class="list-group">
    <ul style="list-style-type:none" class="list-group">
        @foreach (var item in Model)
        {
            @*<li class="list-group-item list-group-item-action list-group-item-dark">*@

            @Html.ActionLink(@item.BookName, "BookTemplate", "Book", new { id = item.BookId }, new { @class="list-group-item list-group-item-action list-group-item-dark" })
        }

    </ul>
</div>
@Html.ActionLink("Add book", "AddBook", new { @class="buttonGrey" })






