#bookPicture {
    display: inline-block;
    width: 350px;
    height:450px;
}

#bimage {
    height: 90%;
    width: 70%;
}

img {
    float: left;
    width: 300px;
    height: 450px;
}

#bookName{
    text-align: center;
}

.buttonGrey{
    border-radius: 10%;
    color: white;
    background-color: grey;
    padding: 5px;
}

.bookPrize {
    font-size: 20px;
}

#addBook td {
    padding: 10px;
    vertical-align: top;
}

.list-group {
    list-style-type: none;
}

#writerName {
    font-style: italic;
    text-align: center;
    color: dimgrey;
}

#bookGenres {
    font-style: italic;
    color: dimgrey;
}
